{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <!-- About Section -->
    <div class="row mb-5">
        <div class="col">
            <h2>About Adventure Finder</h2>
            <p>
                Adventure Finder is a magazine-style adventure blog built for outdoor lovers, by outdoor lovers. Whether you're into hiking, surfing, rock climbing, or camping under the stars, our platform helps you easily discover adventures based on your favorite activities and locations. From rugged mountain trails to serene coastal hideaways, you'll find real stories and recommendations from a community that lives and breathes the outdoors.
            </p>
            <p>
                But Adventure Finder is more than just a blog—it's a growing community of outdoor enthusiasts. Use our Adventure Finder tool to explore destinations, learn about local businesses, and connect with inspiring stories. Like and comment on your favorite posts, share your own experiences, and get inspired for your next escape. All content is curated and published in a magazine-style format, featuring only the best user stories written by our designated and approved authors to ensure quality and authenticity.
            </p>
            <p>
                <strong>Want to collaborate or share your story?</strong><br>
                If you're a local outdoor business looking to promote your services through a collaboration post, or a passionate adventurer with a story to tell, <strong>contact us today</strong> using the form below. We'd love to feature you on our blog.
            </p>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <!-- Form Section -->
        <div class="col-12 col-md-6">
            <h2>Share Your Outdoor Story</h2>
            <p>Do you have a unique story about your adventures in the great outdoors? Whether you’re an individual with an inspiring journey or a business deeply rooted in nature, we’d love to hear from you. Fill out the form below and let’s collaborate!</p>
            <form method="post" action="">
                {% csrf_token %}
                {{ collaborate_form |crispy }}
                <button type="submit" class="btn btn-secondary mt-3">Submit</button>
            </form>
        </div>

        <!-- Image Section -->
        <div class="col-12 col-md-6 text-center">
            <div class="image-container">
                <img src="{% static 'images/map-sun.jpg' %}" alt="Outdoor Story" class="img-fluid rounded" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-end">
            <p class="text-muted"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}
