{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h5>Tags:</h5>
            <ul>
                {% for tag in tags %}
                    <li>
                        {% if tag.location %}
                            <strong>Location:</strong> {{ tag.location }}
                        {% endif %}
                        
                        {% if tag.activity %}
                            <strong>Activity:</strong> {{ tag.activity }}
                        {% endif %}
                        
                        {% if tag.type_choices %}
                            <strong>Type:</strong> {{ tag.type_choices }}
                        {% endif %}
                    </li>
                {% empty %}
                    <li>No tags available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>

</div>

<div class="container mt-5">
    <h3>Similar Posts</h3>
    <div class="row">
        {% for related_post in related_posts %}
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'post_detail' related_post.slug %}" class="post-link">
                        <h5 class="card-title">{{ related_post.title }}</h5>
                    </a>
                    <p class="card-text">{{ related_post.excerpt|truncatewords:20 }}</p>
                    <p class="text-muted">By {{ related_post.author }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No related posts found.</p>
        {% endfor %}
    </div>
</div>



{% endblock content %}